[Unit]
Description=Node Exporter
After=network.target
  
[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter  --collector.textfile --collector.textfile.directory /var/lib/node_exporter/textfile_collector/
  
[Install]
WantedBy=multi-user.target
